<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <center>
          <h1>GOPI HERO</h1>
          <p>he is my best friend from childhood</p>
          <a href="{% url 'raja' %}">friends forever.....</a>
          <a href="{% url 'specific:susil' %}">fever....</a>
          <a href="{% url 'specific:kalia' %}">friends......</a>
     </center>
</body>
</html>